<?xml version="1.0"?>
<robot name="fr3">

  <link name="base_link"/>

  <link name="fr3_link0"/>
  <joint name="base_link_fr3" type="fixed">
    <parent link="base_link"/>
    <child link="fr3_link0"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="fr3_link1"/>
  <joint name="fr3_joint1" type="revolute">
    <parent link="fr3_link0"/>
    <child link="fr3_link1"/>
    <origin xyz="0 0 0.333" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-2.7437" upper="2.7437" effort="87" velocity="2.175"/>
  </joint>

  <link name="fr3_link2"/>
  <joint name="fr3_joint2" type="revolute">
    <parent link="fr3_link1"/>
    <child link="fr3_link2"/>
    <origin xyz="0 0 0" rpy="-1.5707963267948966 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-1.7837" upper="1.7837" effort="87" velocity="2.175"/>
  </joint>

  <link name="fr3_link3"/>
  <joint name="fr3_joint3" type="revolute">
    <parent link="fr3_link2"/>
    <child link="fr3_link3"/>
    <origin xyz="0 -0.316 0" rpy="1.5707963267948966 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-2.9007" upper="2.9007" effort="87" velocity="2.175"/>
  </joint>

  <link name="fr3_link4"/>
  <joint name="fr3_joint4" type="revolute">
    <parent link="fr3_link3"/>
    <child link="fr3_link4"/>
    <origin xyz="0.0825 0 0" rpy="1.5707963267948966 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.0421" upper="-0.1518" effort="87" velocity="2.175"/>
  </joint>

  <link name="fr3_link5"/>
  <joint name="fr3_joint5" type="revolute">
    <parent link="fr3_link4"/>
    <child link="fr3_link5"/>
    <origin xyz="-0.0825 0.384 0" rpy="-1.5707963267948966 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-2.8065" upper="2.8065" effort="12" velocity="2.61"/>
  </joint>

  <link name="fr3_link6"/>
  <joint name="fr3_joint6" type="revolute">
    <parent link="fr3_link5"/>
    <child link="fr3_link6"/>
    <origin xyz="0 0 0" rpy="1.5707963267948966 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="0.5445" upper="4.5169" effort="12" velocity="2.61"/>
  </joint>

  <link name="fr3_link7"/>
  <joint name="fr3_joint7" type="revolute">
    <parent link="fr3_link6"/>
    <child link="fr3_link7"/>
    <origin xyz="0.088 0 0" rpy="1.5707963267948966 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.0159" upper="3.0159" effort="12" velocity="2.61"/>
  </joint>

  <!-- FR3 flange / hand mounting -->
  <link name="hand"/>
  <joint name="fr3_hand_joint" type="fixed">
    <parent link="fr3_link7"/>
    <child link="hand"/>
    <origin xyz="0 0 0.107" rpy="0 0 -0.7853981633974483"/>
  </joint>

  <!-- HiveBoard TCP -->
  <link name="tcp"/>
  <joint name="hand_tcp_joint" type="fixed">
    <parent link="hand"/>
    <child link="tcp"/>
    <origin xyz="0 0 0.1034" rpy="0 0 0"/>
  </joint>

</robot>
